/* my own styles */

@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400,700);
body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0 auto;
  max-width: 40em;
  padding: 2em;
  position: relative;
  font-size: large;
}

.wrapper {
  max-width: 40em;
  padding: 0;
}

img {
  margin: 5px 0 5px 0;
  max-width: 100%;
}

img.board-member, img.about {
  align-content: left;
  margin: 0 10px 5px 0;
  width: 300px;
  float: left;
}

img.featured-image {
  padding-bottom: 10px;
}

img.post-author-img {
  width: 150px;
  border-radius: 75px;
  float: left;
  margin: 0 10px 5px 0;
}

h1, h2 {
  font-family: 'IBM Plex Mono', monospace;
  color: color(display-p3 0.459 0.985 0.298);
}

h1.post-title::after, h1.page-heading::after, h2.post-list-heading::after, h1#lion-in-a-zoo::after {
  content: "";
  width: 5px;
  height: 30px;
  background: color(display-p3 0.459 0.985 0.298);
  display: inline-block;
  margin-left: 5px;
  animation: cursor-blink 1.5s steps(2) infinite;
}

h1.post-title, h1.page-heading, h2.post-list-heading, h1#lion-in-a-zoo {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#header {
  align-items: right;
}
#footer {
  font-size: x-small;
  margin: 50px 0 0 0;
}

a:hover {
  background: yellow;
  //padding: 1px;
}

h1.post-title {
  text-decoration: underline;
  margin-top: 15px;
}

.post-content h4 {
  text-decoration: underline;
  font-size: inherit;
  font-weight: 600;
}

hr {
  margin-top: 2em;
}

.fine-print {
  font-size: small;
  margin-top: 15px;
}

nav {
  margin-bottom: 10px;
}

.post-link {
  display: inline;
  font-size: inherit;  
}

.post-list > li {
  margin-bottom: 0;
}

.post-author-about {
  padding: 5px;
  background: color(display-p3 0.757 0.757 0.757);
}

.statuslol_content {
font-family: Courier New;
color: #04D939;
font-size: .75em;
text-align: left;
background: black;
padding: 1em;
border-radius: .25em;
}

.statuslol_content a {
color: #04D939;
}

pre, code {
  background-color: black;
  color: #04D939;
  font-size: inherit;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.learn-more {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: inherit;
}

/* In support of Dark Mode */
@media (prefers-color-scheme: dark) {
body {
color: #E5E7EB;
background-color: #1F2937; 
}
a, a:visited {
color: #3B82F6;
}
img {
opacity: .75;
transition: opacity .5s ease-in-out;
}
img:hover {
opacity: 1;
}
html {
--text-color-normal: #0a244d;
--text-color-light: #8cabd9;
}
html[data-theme='dark'] {
--text-color-normal: hsl(210, 10%, 62%);
--text-color-light: hsl(210, 15%, 35%);
--text-color-richer: hsl(210, 50%, 72%);
--text-color-highlight: hsl(25, 70%, 45%);
}
.post-author-about {
  background: color(display-p3 0.133 0.145 0.161);
}
}